@import "tailwindcss";



:root {
  --background: #b76aca;
  --foreground: #ffffff;
  --card: #57006d;
  --border: #b76aca;
  --card-element: #30003b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-border: var(--border);
  --color-card-element: var(--card-element);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-comic: var(--font-comic-neue);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.sidebar-left::before {
  content: "";
  background: var(--card);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -10;
  transform: skewX(-1deg) skewY(-3deg);
  box-shadow: 0 0 50px -12px var(--card);
}

.sidebar-right::before {
  content: "";
  background: var(--card);
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -10;
  transform: skewY(2deg);
  box-shadow: 0 0 50px -12px var(--card);
}

input[type=file]::file-selector-button {
    margin: 0; padding: 2px 6px;
    margin-right: 6px;
    border: solid 1px;
    background: var(--card);
    cursor: pointer;
}